.pageContainerMain{
    
    background: url('../../components/assets/1440_default.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 0px 0px 42px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
    box-sizing: border-box;
    padding-left: 220px;
}