
.pageContainerMain{
    padding: 0px 0px 42px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    flex: 1;
}

@media (max-width: 834px) {
    .pageContainerMain{
        padding: 0px 0px 42px 0px;  
    }
  
}

@media (max-width: 365px) {
    .pageContainerMain{
        padding: 0px 0px 42px 0px;
        align-items: start;  
    }
  
}