
.pageContainerMain{
    padding: 0px 0px 42px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    flex: 1;
}

@media (max-width: 835px) {
    .pageContainerMain{
        padding: 0px 0px 42px 0px;  
        align-items: center;
        justify-content: space-between;
        &:first-child{
            gap: 0;
        }
    }
  
}

@media (max-width: 365px) {
    .pageContainerMain{
        max-width: 359px;
        padding: 0px 0px 42px 0px;
        // align-items: start;
        justify-content: center;
        &:first-child{
            gap: 0;
        }
    }
  
}